.about {
    background-color: #0a2750;
    color: #ffffff;
    z-index: -2;
    position: relative;
    margin-top: -50px;
}

.about__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    padding-top: 100px;
    padding-left: 80px;
    max-width: 230px;
    z-index: 1;
}

.about__content {
    position: relative;
    left: 700px;
    top: -130px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    width: 560px;
    padding-bottom: 173px;
    padding-right: 80px;
}

.about__circle {
    background-color: #2f80ed;
    width: 507px;
    height: 458px;
    border-radius: 50%;
    left: -218px;
    position: absolute;
    margin-top: -875px;
    z-index: -1;
}

.about__circle_animation_blurred {
    background-color: #2f80ed;
    width: 507px;
    height: 478px;
    border-radius: 50%;
    position: absolute;
    margin-top: -870px;
    padding-left: 30px;
    animation: ulsate 1.3s infinite ease-in-out;
    animation-delay: unset;
}

@keyframes ulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1.4;
    }
}