@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/menu.css);
@import url(../blocks/recipes.css);
@import url(../blocks/about.css);
@import url(../blocks/reservation.css);
@import url(../blocks/footer.css);
html {
    font-family: Inter, Arial, sans-serif;
    font-family: Noto serif, Times New Roman, serif family;
}

.page {
    max-width: 2600px;
    min-width: 1100px;
    font-family: inter;
    font-size: 16px;
    line-height: 20px;
}